@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    padding: 0;margin: 0;
}
body{
    background-color:hsl(0, 100%, 74%) ;
    background-image: url("Pics/bg-intro-desktop.png");
    max-height: max-content;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left , .right{
    width: 40%;
}

.left{
    text-align: justify;
}

.left h1{
    color: white;
    margin-bottom: 15px;
    font-family: Poppins;


}

.left p{
    margin-top: 15px;
    text-align: justify;
    color: white;
    line-height: 23px;
}


/* THE FORM */

.right{
    color: hsl(249, 10%, 26%);
}

.right #par1{
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
}

.right form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: black;
    border-radius: 8px;
    padding: 15px 0 30px 0;
    position: relative;

}

.right form input{
    width: 85%;
    margin: 10px 0;
    padding: 15px 0;
    text-indent: 30px;
    border: 0.1px solid hsl(249, 10%, 26%);;
    border-radius: 5px;
    outline: none;
}

.PlaceHColor::placeholder {
    color: red;
  }



.right form input:focus{
    border: 1.4px solid hsl(249, 10%, 26%);


}

.btn{
    color: white;
    border: 0 ;
    margin: 15px 0 ;
    padding: 15px 0;
    width: 85%;
    background-color: hsl(154, 59%, 51%);
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
}

.form p{
    font-size: 14px;
    
}

.redColor{
    color: red;

}

label{
    display: none;
}



.errClass{
    display: none;
}

.errMessage{
    display: block;
    position: relative;
    color: red;
    left: 125px;
    bottom: 10px;
    font-style: italic;
    font-size: 15px;
}



.svg{
    position: absolute;
    right:90px;
    transform: translateY(22px);

}